<form action="/user/forgotPassword" method="POST">
  <label>EMail</label>
  <input type="text" name="email" placeholder="Email" value="" />

  <br/>
  <input type="submit" class="btn btn-primary" title="Send Reset Email" value="Send Reset Email"/>
</form>