<form action="/user/<%= user.id %>/resendVerification" method="POST" id="resendVerificationForm">
You have not been verified. <a href="javascript:" onclick="document.getElementById('resendVerificationForm').submit();">Click here</a> to resend verification email.
</form>