<form action="/user/<%= userId %>/resetPassword" method="POST">
  <input type="hidden" name="verificationToken" value="<%= verificationToken %>" />

  <div class="readWriteField">
    <label class="title">New Password:</label>
    <input type="password" class="value" name="newPassword" value=""/>
  </div>

  <div class="readWriteField">
    <label class="title">New Password Verify:</label>
    <input type="password" class="value" name="newPasswordVerify" value=""/>
  </div>

  <br/>
  <input type="submit" class="btn btn-primary" title="Reset Password" value="Reset Password"/>
</form>