body {
  padding-top: 60px;
  padding-bottom: 40px;
}

/******** loginHeader ********/
.loginHeader {
  float: right;
}

.loginHeader form {
  margin: 0;
}

.loginHeader input {
  margin-bottom: 0;
  margin-top: 6px;
}

.loginHeaderUsername {
  display: inline;
}

/******** recentList ********/
.recentList {

}

.recentList h2 {
  margin-bottom: 0;
}

.recentItems {

}

.recentItem {
  margin: 3px;
  width: 135px;
  height: 135px;
  border: 1px solid #eee;
}