<img src='/images/homeBanner.png' width="940" height="400" alt="Home Banner"/>

<div class="edaItemList recentEdaItemList">
  <h2>Recent Schematic Symbols <span id="schematicSymbolCount" class="counts"></span></h2>
  <ul class="edaItems" id="recentSchematicSymbols">
  </ul>
  <a href="/schematicSymbol/all" class="pull-right">More...</a>
</div>
<div style="clear: both;"/>

<div class="edaItemList recentEdaItemList">
  <h2>Recent PCB Modules <span id="pcbModulesCount" class="counts"></span></h2>
  <ul class="edaItems" id="recentPcbModules">
  </ul>
  <a href="/pcbModule/all" class="pull-right">More...</a>
</div>
<div style="clear: both;"/>

<div>
  <h2>About</h2>

  <p>
    KiCadCloud is a place to share KiCad schematic and PCB symbol libraries. After creating an account
    you can add symbols to your favorites and then download them as a single package including
    the 3D models.
    <img src='/images/simpleHelp.png' alt="Simple Help"/>
  </p>
</div>
<div style="clear: both;"/>

<style type="text/css">
  body {
    padding-top: 40px;
  }
</style>

<script type="text/javascript">
  var edaItemTemplate = new EJS({url: '/templates/edaItem.ejs'});
  var sf = document.require('sf');

  var defaultValue = {
    id: 0,
    title: 'Loading...',
    code: '',
    createdBy: {
      id: 0,
      username: 'Loading...'
    },
    modifiedDate: 'Loading...',
    sf: sf
  };

  var recentSchematicSymbolsHtml = '';
  defaultValue.type = 'schematicSymbol';
  for (var i = 0; i < 14; i++) {
    recentSchematicSymbolsHtml += edaItemTemplate.render(defaultValue);
  }
  $('#recentSchematicSymbols').html(recentSchematicSymbolsHtml);

  var recentPcbModulesHtml = '';
  defaultValue.type = 'pcbModule';
  for (i = 0; i < 14; i++) {
    recentPcbModulesHtml += edaItemTemplate.render(defaultValue);
  }
  $('#recentPcbModules').html(recentPcbModulesHtml);

  $(function() {
    $.get('/edaItem/stats', function(data) {
      $('#schematicSymbolCount').html('(count: ' + data.schematicSymbolCount + ')');
      $('#pcbModulesCount').html('(count: ' + data.pcbModuleCount + ')');
    });

    $.get('/schematicSymbol/recent', function(data) {
      var html = '';
      data = data.slice(0, 10);
      data.forEach(function(item) {
        item.type = 'schematicSymbol';
        item.createdBy = item.createdBy || {};
        html += edaItemTemplate.render(item);
      });
      $('#recentSchematicSymbols').html(html);

      data.forEach(function(item) {
        try {
          renderSchematicSymbol('#edaItem_schematicSymbol_' + item.id, item.code, {
            size: 150
          });
        } catch (e) {
          // todo: do something with the error
          console.error('Could not renderSchematicSymbol', e.stack);
        }
      });
    });

    $.get('/pcbModule/recent', function(data) {
      var html = '';
      data = data.slice(0, 10);
      data.forEach(function(item, i) {
        item.type = 'pcbModule';
        item.createdBy = item.createdBy || {};
        html += edaItemTemplate.render(item);
      });
      $('#recentPcbModules').html(html);
      data.forEach(function(item) {
        try {
          renderPcbModule('#edaItem_pcbModule_' + item.id, item.code, {
            size: 150
          });
        } catch (e) {
          // todo: do something with the error
          console.error('Could not renderSchematicSymbol', e.stack);
        }
      });
    });
  });
</script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37393712-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();
</script>
