<div class="recentList">
  <h2>Recent Schematic Symbols</h2>
  <ul class="recentItems" id="recentSchematicSymbols">
  </ul>
</div>
<div style="clear: both;"/>

<div class="recentList">
  <h2>Recent PCB Modules</h2>
  <ul class="recentItems" id="recentPcbModules">
  </ul>
</div>
<div style="clear: both;"/>

<script type="text/javascript">
  var recentItemTemplate = new EJS({url: '/templates/recentItem.ejs'});
  var sf = document.require('sf');

  var defaultValue = {
    id: 0,
    title: 'Loading...',
    code: '',
    createdBy: {
      id: 0,
      username: 'Loading...'
    },
    modifiedDate: 'Loading...',
    sf: sf
  };

  var recentSchematicSymbolsHtml = '';
  defaultValue.type = 'schematicSymbol';
  for (var i = 0; i < 14; i++) {
    recentSchematicSymbolsHtml += recentItemTemplate.render(defaultValue);
  }
  $('#recentSchematicSymbols').html(recentSchematicSymbolsHtml);

  var recentPcbModulesHtml = '';
  defaultValue.type = 'pcbModule';
  for (i = 0; i < 14; i++) {
    recentPcbModulesHtml += recentItemTemplate.render(defaultValue);
  }
  $('#recentPcbModules').html(recentPcbModulesHtml);

  $(function() {
    $.get('/schematicSymbol/recent', function(data) {
      var html = '';
      data.forEach(function(item) {
        item.type = 'schematicSymbol';
        item.createdBy = item.createdBy || {};
        html += recentItemTemplate.render(item);
      });
      $('#recentSchematicSymbols').html(html);

      data.forEach(function(item) {
        try {
          renderSchematicSymbol('#recentItem_schematicSymbol_' + item.id, item.code, {
            size: 130
          });
        } catch (e) {
          // todo: do something with the error
          console.error('Could not renderSchematicSymbol', e.stack);
        }
      });
    });

    $.get('/pcbModule/recent', function(data) {
      var html = '';
      data.forEach(function(item, i) {
        item.type = 'pcbModule';
        item.createdBy = item.createdBy || {};
        html += recentItemTemplate.render(item);
      });
      $('#recentPcbModules').html(html);
      data.forEach(function(item) {
        try {
          renderPcbModule('#recentItem_pcbModule_' + item.id, item.code, {
            size: 130
          });
        } catch (e) {
          // todo: do something with the error
          console.error('Could not renderSchematicSymbol', e.stack);
        }
      });
    });
  });
</script>