<img src='/images/homeBanner.png' width="940" height="400" alt="Home Banner"/>

<div class="edaItemList">
  <h2>Recent Schematic Symbols</h2>
  <ul class="edaItems" id="recentSchematicSymbols">
  </ul>
</div>
<div style="clear: both;"/>

<div class="edaItemList">
  <h2>Recent PCB Modules</h2>
  <ul class="edaItems" id="recentPcbModules">
  </ul>
</div>
<div style="clear: both;"/>

<style type="text/css">
  body {
    padding-top: 40px;
  }
</style>

<script type="text/javascript">
  var edaItemTemplate = new EJS({url: '/templates/edaItem.ejs'});
  var sf = document.require('sf');

  var defaultValue = {
    id: 0,
    title: 'Loading...',
    code: '',
    createdBy: {
      id: 0,
      username: 'Loading...'
    },
    modifiedDate: 'Loading...',
    sf: sf
  };

  var recentSchematicSymbolsHtml = '';
  defaultValue.type = 'schematicSymbol';
  for (var i = 0; i < 14; i++) {
    recentSchematicSymbolsHtml += edaItemTemplate.render(defaultValue);
  }
  $('#recentSchematicSymbols').html(recentSchematicSymbolsHtml);

  var recentPcbModulesHtml = '';
  defaultValue.type = 'pcbModule';
  for (i = 0; i < 14; i++) {
    recentPcbModulesHtml += edaItemTemplate.render(defaultValue);
  }
  $('#recentPcbModules').html(recentPcbModulesHtml);

  $(function() {
    $.get('/schematicSymbol/recent', function(data) {
      var html = '';
      data = data.slice(0, 10);
      data.forEach(function(item) {
        item.type = 'schematicSymbol';
        item.createdBy = item.createdBy || {};
        html += edaItemTemplate.render(item);
      });
      $('#recentSchematicSymbols').html(html);

      data.forEach(function(item) {
        try {
          renderSchematicSymbol('#edaItem_schematicSymbol_' + item.id, item.code, {
            size: 150
          });
        } catch (e) {
          // todo: do something with the error
          console.error('Could not renderSchematicSymbol', e.stack);
        }
      });
    });

    $.get('/pcbModule/recent', function(data) {
      var html = '';
      data = data.slice(0, 10);
      data.forEach(function(item, i) {
        item.type = 'pcbModule';
        item.createdBy = item.createdBy || {};
        html += edaItemTemplate.render(item);
      });
      $('#recentPcbModules').html(html);
      data.forEach(function(item) {
        try {
          renderPcbModule('#edaItem_pcbModule_' + item.id, item.code, {
            size: 150
          });
        } catch (e) {
          // todo: do something with the error
          console.error('Could not renderSchematicSymbol', e.stack);
        }
      });
    });
  });
</script>