<div id="searchResults">
  <% include ../edaItem/list %>
</div>
<% if(showPaging) { %>
  <% if(pageOpts.page > 0) { %>
    <a href="<%= urlHelper.build(pagingUrl, { query: { page: pageOpts.page - 1 } }) %>" class="pull-left">prev</a>
  <% } %>
  <% if(items.length >= pageOpts.count) { %>
    <a href="<%= urlHelper.build(pagingUrl, { query: { page: pageOpts.page + 1 } }) %>" class="pull-right">next</a>
  <% } %>
<% } %>
<div style="clear: both;"></div>

<script type="text/javascript">
  $(function() {
    renderEdaItems('#searchResults');
  });
</script>
