<html>
  <a href="http://www.kicadcloud.com/user/<%= user.id %>/resetPassword?verificationToken=<%= user.password %>">http://www.kicadcloud.com/user/<%= user.id %>/resetPassword?verificationToken=<%= user.password %></a> to reset your password on KiCadCloud.com.
</html>