<html>
<p>
  Click or copy the following URL into your browser to reset your password.
</p>
<p>
  <a href="http://www.kicadcloud.com/user/<%= user.id %>/resetPassword?verificationToken=<%= user.password %>">http://www.kicadcloud.com/user/<%= user.id %>/resetPassword?verificationToken=<%= user.password %></a>
</p>
</html>