<html>
<p>
  Welcome to KiCadCloud.com.
</p>
<p>
  Click or copy and paste the following URL into your browser to verify your account.
</p>
<p>
  <a href="http://www.kicadcloud.com/user/<%= user.id %>/verify">http://www.kicadcloud.com/user/<%= user.id %>/verify</a>
</p>
</html>
